@font-face {
	font-family: 'Abril Fatface';
	src: url('../fonts/AbrilFatface-Regular.ttf');
}

* {
	box-sizing: border-box;
	margin: 0 auto 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Droid Sans', sans-serif;
}

.page-container {
	margin: 0 auto 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
}

/*Intro Page*/

.intro-page {
	display: flex;
	align-content: center;
}

.intro-container {
	text-align: center;
	animation-delay: 0.7s;
	animation-duration: 0.5s;
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
}

.intro-title {
	color: whitesmoke;
	text-shadow: 3px 3px 7px grey;
	font-size: 10vmax;
	font-family: 'Abril Fatface', cursive;
}

.intro-subtitle {
	margin: 20px 0;
	font-size: 1.9vmax;
	font-weight: 600;
	color: white;
}

.start-buttons {
	width: 80%;
	display: flex;
	justify-content: space-around;
}

.start-button {
	width: 40%;
	background-color: whitesmoke;
	color: lightcoral;
	border: 2px solid lightcoral;
	font-size: 1.5vmax;
	cursor: pointer;
	padding: 20px;
	margin: 0 15px;
}

.start-buttons button:hover {
	background-color: lightcoral;
	border: 2px solid lightcoral;
	color: whitesmoke;
}

.title {
	font-family: 'Abril Fatface', cursive;
	font-size: 3vmax;
	color: whitesmoke;
	vertical-align: middle;
	text-shadow: 3px 3px 7px grey;
	width: 100%;
	padding-bottom: 3vh;
}

.cardpack-selectors {
	width: 75vw;
	display: flex;
	justify-content: space-between;
}

.cardpack {
	height: 10vw;
	margin: auto;
}

.cardpack:hover {
	-webkit-filter: drop-shadow(0px 0px 7px #ffffff);
	filter: drop-shadow(0px 0px 7px #ffffff);
	cursor: pointer;
}

/*Header*/
.header {
	width: 100%;
	min-height: 13vmin;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	display: inline-block;
	position: relative;
	padding: 0 1vh 1vh 1vh;
	z-index: 50;
	margin: 0;
}

.main-title {
	font-family: 'Abril Fatface', cursive;
	font-size: 5vmax;
	color: #585858;
	text-shadow: 4px 3px 4px lightgrey;
	margin: 0 0 2vh 0;
	line-height: 100%;
}

.link-bar {
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.2vmax;
	text-decoration: none;
	margin: 1vw;
	color: #585858;
	display: inline;
}

.link-bar:hover {
	color: lightcoral;
	cursor: pointer;
}

/*Stats Sidebar*/
.stats-container {
	width: 13vw;
	min-height: 40vmin;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.7);
	margin: 1vh 5vw 0 3vw;
	display: inline-block;
	position: relative;
}

.stats-title {
	font-family: 'Abril Fatface', cursive;
	font-size: 2.5vmax;
	color: #585858;
	padding: 10px 0 0 0;
	text-shadow: 4px 2px 4px lightgrey;
}

.label,
.value {
	font-size: 1.2vmax;
	color: #585858;
	padding: 7px;
}

.reset {
	background-color: whitesmoke;
	color: lightcoral;
	border: 2px solid lightcoral;
	min-height: 6vmin;
	min-width: 8vmin;
	font-size: 1vmax;
	cursor: pointer;
	padding: 5%;
}

.reset:hover {
	background-color: lightcoral;
	border: 2px solid lightcoral;
	color: whitesmoke;
}

/*Main Game Area*/
.game-area {
	min-height: 60vmin;
	width: 75vw;
	text-align: center;
	display: inline-block;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 1% 0;
	margin: 1vh 3vw 0 0;
}

.card {
	display: inline-block;
	margin: 5px 20px 0 20px;
	position: relative;
}

.front > img {
	width: 9vw;
}

.back > img {
	width: 9vw;
	position: absolute;
	top: 0;
	left: 0;
}

/*Win Modal*/
.win-screen-container {
	width: 100vw;
	min-height: 15vh;
	margin-top: 15vh;
	padding: 2%;
	text-align: center;
	display: inline-block;
	z-index: 10;
}

.winner-alert {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100vw;
	height: 100vh;
	z-index: 10;
	position: absolute;
	animation-duration: 0.5s;
	display: none;
}

.modal-text {
	font-family: 'Abril Fatface', cursive;
	font-size: 9vmax;
	color: whitesmoke;
	vertical-align: middle;
	text-shadow: 3px 3px 7px grey;
	animation-delay: 0.4s;
	animation-duration: 0.5s;
	z-index: 10;
}

.modal-button {
	background-color: transparent;
	color: whitesmoke;
	min-height: 6vmin;
	min-width: 8vmin;
	font-size: 1vmax;
	cursor: pointer;
	padding: 1%;
	animation-delay: 1.5s;
	border-color: rgb(216, 216, 216);
	z-index: 10;
}

.modal-button:hover {
	background-color: whitesmoke;
	border-color: rgb(216, 216, 216);
	color: rgba(0, 0, 0, 0.7);
}

.close-button {
	background-color: white;
	color: rgba(0, 0, 0, 0.7);
	min-height: 1vmin;
	min-width: 1vmin;
	font-size: 1vmax;
	cursor: pointer;
	padding: 10px 15px;
	animation-delay: 1.5s;
	position: absolute;
	top: 2vw;
	right: 2vw;
	border-radius: 80%;
	z-index: 10;
}

.close-button:hover {
	background-color: transparent;
	color: whitesmoke;
}

/*About Page*/
.about-modal {
	position: absolute;
	display: none;
	z-index: 100;
}

.about-container {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}

.about-content-container {
	background-color: whitesmoke;
	max-width: 40vw;
	height: 40vh;
	padding: 2%;
	position: relative;
	display: flex;
	margin: auto;
	border-radius: 3%;
	overflow: scroll;
}

.about-picture {
	height: 100%;
	margin: 0 2% 0 0;
	float: left;
	display: inline-block;
}

.description {
	font-family: 'Droid Sans', sans-serif;
	font-size: 0.8vmax;
	color: #585858;
	margin: auto;
	flex-wrap: wrap;
	text-align: center;
	height: 80%;
}

.tagline {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 1.5vmax;
}

.about-buttons {
	display: flex;
	justify-content: space-between;
}

.about-button-style {
	background-color: transparent;
	color: lightcoral;
	border: 2px solid lightcoral;
	min-width: 10vmax;
	font-size: 1vmax;
	cursor: pointer;
	padding: 2%;
	text-decoration: none;
}

.about-button-style:hover {
	background-color: lightcoral;
	border: 2px solid lightcoral;
	color: whitesmoke;
}

/*Settings Modal*/
.settings-modal {
	position: absolute;
	display: none;
	z-index: 70;
}

.settings-container {
	display: flex;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
}

.settings-content-container {
	background-color: whitesmoke;
	min-width: 40vw;
	min-height: 25vh;
	padding: 2%;
	position: relative;
	display: flex;
	margin: auto;
	border-radius: 3%;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}

.settings-title {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 3vmax;
	width: 100%;
}

.settings-button-style {
	font-family: 'Droid Sans', sans-serif;
	background-color: transparent;
	color: lightcoral;
	border: 2px solid lightcoral;
	min-width: 15vmax;
	font-size: 1vmax;
	cursor: pointer;
	padding: 2%;
	text-decoration: none;
	margin: auto;
	text-align: center;
}

.settings-button-style:hover {
	background-color: lightcoral;
	border: 2px solid lightcoral;
	color: whitesmoke;
}
