@font-face {
	font-family: 'Abril Fatface';
	src: url('../fonts/AbrilFatface-Regular.ttf');
}

* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Droid Sans', sans-serif;
}

.page-container {
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
}

/*Intro Page*/

.intro-page {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-content: center;
}

.intro-container {
	text-align: center;
	animation-delay: 0.7s;
	animation-duration: 0.5s;
	display: flex;
	align-content: center;
	flex-direction: column;
	justify-content: space-around;
	margin: auto;
}

.intro-title {
	color: whitesmoke;
	text-shadow: 3px 3px 7px grey;
	font-size: 9em;
	font-family: 'Abril Fatface', cursive;
}

.intro-subtitle {
	margin: 20px 0;
	font-size: 2em;
	font-weight: 600;
	color: white;
}

.start-buttons {
	width: 80%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.start-button {
	width: 40%;
	background-color: whitesmoke;
	color: lightcoral;
	border: 4px solid lightcoral;
	cursor: pointer;
	padding: 15px;
	margin: 0 15px;
	text-decoration: none;
	text-align: center;
}

.start-button:hover {
	background-color: lightcoral;
	border: 4px solid whitesmoke;
	color: whitesmoke;
}

.start-button:focus {
	outline: none;
}

@media screen and (max-width: 820px) {
	.intro-title {
		font-size: 6em;
	}
	.intro-subtitle {
		font-size: 1.25em;
	}
}

@media screen and (max-width: 600px) {
	.intro-title {
		font-size: 4.5em;
	}
	.intro-subtitle {
		font-size: 1.25em;
	}

	.start-buttons {
		flex-direction: column;
		align-items: center;
	}

	.start-button {
		width: 80%;
		margin: 5px 0;
		font-size: 1em;
	}
}

@media screen and (max-width: 340px) {
	.intro-title {
		font-size: 3.5em;
	}
	.intro-subtitle {
		font-size: 1.25em;
	}
}

/* Card Pack Selection Page */
.cardpack-selection-page {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cardpack-selection-title {
	font-family: 'Abril Fatface', cursive;
	font-size: 4rem;
	color: whitesmoke;
	text-shadow: 3px 3px 7px grey;
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}

.cardpack-selectors {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.cardpack {
	height: 150px;
	margin: 2%;
}

.cardpack:hover {
	-webkit-filter: drop-shadow(0px 0px 7px #ffffff);
	filter: drop-shadow(0px 0px 7px #ffffff);
	cursor: pointer;
}

@media screen and (max-width: 1000px) {
	.cardpack-selection-title {
		font-size: 3rem;
	}
	.cardpack {
		height: 100px;
	}
}

@media screen and (max-width: 600px) {
	.cardpack-selection-title {
		font-size: 2.3rem;
	}

	.cardpack-selectors {
		width: 60%;
		flex-wrap: wrap;
	}

	.cardpack {
		height: 100px;
	}
}

@media screen and (max-width: 395px) {
	.cardpack-selection-title {
		font-size: 1.8rem;
	}

	.cardpack-selectors {
		width: 70%;
	}

	.cardpack {
		height: 90px;
	}
}

/* Main Page */
.main-page-container {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 2fr 1fr;
	grid-gap: 20px;
	grid-template-areas:
		'header header header header'
		'sidebar game game game'
		'sidebar game game game'
		'blank game game game';
}

@media screen and (max-width: 1100px) {
	.main-page-container {
		grid-template-rows: 1fr 3fr 3fr 1fr;
		grid-template-areas:
			'game game game game'
			'game game game game'
			'game game game game'
			'sidebar sidebar sidebar sidebar';
	}
}

/* Main Page Header*/
.header {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	grid-area: header;
}

.main-title {
	font-family: 'Abril Fatface', cursive;
	font-size: 6rem;
	color: #585858;
	text-shadow: 4px 3px 4px lightgrey;
	margin: auto;
}

@media screen and (max-width: 1100px) {
	.header {
		display: none;
	}
}

/*Stats Sidebar*/
.stats-container {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);
	grid-area: sidebar;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas: 't-gutter' 'title' 'games' 'attempts' 'accuracy' 'buttons' 'b-gutter';
}

.stats-title {
	font-family: 'Abril Fatface', cursive;
	font-size: 3.5rem;
	color: #585858;
	text-shadow: 4px 2px 4px lightgrey;
	grid-area: title;
	align-self: end;
}

.label,
.value {
	font-size: 1.5rem;
	color: #585858;
	padding: 7px;
}

.games-played {
	grid-area: games;
	align-self: center;
}

.accuracy {
	grid-area: accuracy;
	align-self: center;
}

.attempts {
	grid-area: attempts;
	align-self: center;
}

.stats-button-container {
	width: 140px;
	margin: 0 auto;
	grid-area: buttons;
	align-self: center;
}

.stats-button,
.stats-button-mobile {
	width: 100%;
	background-color: whitesmoke;
	color: lightcoral;
	border: 2px solid lightcoral;
	font-size: 1rem;
	cursor: pointer;
	padding: 10%;
	margin: 5px auto;
}

.stats-button-mobile {
	display: none;
	width: 40%;
}

.stats-button:hover {
	background-color: lightcoral;
	border: 2px solid lightcoral;
	color: whitesmoke;
}

.stats-button:focus {
	outline: none;
}

@media screen and (max-width: 1440px) {
	.stats-title {
		font-size: 3rem;
	}

	.label,
	.value {
		font-size: 1.2rem;
		padding: 5px;
	}
}

@media screen and (max-width: 1100px) {
	.stats-container {
		grid-template-rows: unset;
		grid-template-columns: repeat(5, 1fr);
		grid-template-areas: 'title games attempts accuracy buttons';
	}

	.stats-title {
		align-self: center;
	}

	.stats-button-container {
		display: flex;
	}

	.stats-button {
		display: none;
	}

	.stats-button-mobile {
		display: block;
	}

	.label,
	.value {
		padding: 3px;
	}

	.label {
		font-size: 1rem;
	}
}

@media screen and (max-width: 745px) {
	.stats-container {
		grid-template-rows: unset;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas: 'games attempts accuracy buttons';
	}

	.stats-title {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	.label {
		font-size: 0.8rem;
	}

	.stats-button-container {
		width: 100px;
	}
}

/*Main Game Area*/
.game-area {
	width: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	overflow: auto;
	grid-area: game;
}

.grid-container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	padding: 10px;
}

.card {
	position: relative;
	align-self: center;
}

.front > img {
	height: 25vh;
}

.back > img {
	height: 25vh;
	position: absolute;
	top: 0;
	left: 0;
	/* opacity: 0.2; */
}

@media screen and (max-width: 1440px) {
	.front > img {
		height: 190px;
	}

	.back > img {
		height: 190px;
	}
}

@media screen and (max-width: 860px) {
	.front > img {
		height: 150px;
	}

	.back > img {
		height: 150px;
	}
}

@media screen and (max-width: 718px) {
	.grid-container {
		grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
		grid-template-rows: unset;
	}
}

/* iPhone 6/7/8 + iPhone 6/7/8 Plus*/

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
	.main-page-container {
		grid-gap: 5px;
	}

	.grid-container {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}

	.front > img {
		height: 25vh;
	}

	.back > img {
		height: 25vh;
	}

	.label {
		font-size: 0.8rem;
	}
}

/* Default modal CSS */

.modal-container,
.portrait-container {
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.7);
	grid-column: 1/-1;
	grid-row: 1/-1;
}

.modal-buttons-container,
.win-modal-buttons-container {
	width: 50%;
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}

.modal-button,
.win-modal-button {
	width: 40%;
	background-color: whitesmoke;
	color: lightcoral;
	border: 4px solid lightcoral;
	font-size: 1rem;
	cursor: pointer;
	padding: 2%;
	margin: 0 15px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.modal-button:hover,
.win-modal-button:hover {
	background-color: lightcoral;
	border: 4px solid whitesmoke;
	color: whitesmoke;
}

.modal-title,
.win-modal-title {
	font-family: 'Abril Fatface', cursive;
	font-size: 5rem;
	color: whitesmoke;
	text-shadow: 3px 3px 7px grey;
}

.modal-subtitle {
	color: lightgrey;
	margin: 10px 0;
	text-align: center;
	font-size: 1.2rem;
}

.close-button {
	color: whitesmoke;
	font-size: 1.5rem;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 20px;
}

.close-button:hover {
	background-color: transparent;
	color: lightcoral;
}

@media screen and (max-width: 890px) {
	.modal-buttons-container {
		width: 60%;
		flex-wrap: wrap;
	}

	.modal-button {
		width: 80%;
		margin: 5px 0px;
		padding: 17px;
	}
}

@media screen and (max-width: 650px) {
	.modal-title {
		font-size: 4rem;
	}

	.modal-subtitle {
		width: 80%;
		font-size: 1rem;
	}
}

@media screen and (max-width: 450px) {
	.modal-title {
		font-size: 3rem;
	}

	.modal-buttons-container {
		width: 80%;
	}

	.modal-button {
		padding: 13px;
	}
}

/* Portrait Modal */

.portrait-container {
	display: none;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

.portrait-title {
	font-size: 1.5rem;
	font-weight: 600;
	color: whitesmoke;
	padding: 0 10px;
	text-align: center;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 736px) and (orientation: portrait),
	only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait),
	only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	.portrait-container {
		display: flex;
	}
}

/*Win Modal*/

.win-modal-title {
	font-size: 10rem;
}

@media screen and (max-width: 720px) {
	.win-modal-title {
		font-size: 8rem;
	}

	.win-modal-buttons-container {
		width: 80%;
	}
}

@media screen and (max-width: 560px) {
	.win-modal-title {
		font-size: 5.5rem;
	}

	.win-modal-buttons-container {
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.win-modal-title {
		font-size: 4.5rem;
	}
}

/*About Page*/

.about-page {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.about-content-container {
	background-color: whitesmoke;
	width: 50%;
	padding: 2% 3%;
	display: flex;
	margin: auto;
	border-radius: 3%;
}

.tagline {
	font-family: 'Abril Fatface', cursive;
	text-align: center;
	font-size: 2.3rem;
	margin: 20px 0;
}

.description-container {
	font-family: 'Droid Sans', sans-serif;
	color: #585858;
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.technologies {
	margin-top: 20px;
}

.about-buttons-container {
	width: 60%;
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}

.about-button {
	background-color: transparent;
	color: lightcoral;
	border: 2px solid lightcoral;
	width: 40%;
	font-size: 1rem;
	cursor: pointer;
	padding: 2%;
	text-decoration: none;
}

.about-button:hover {
	background-color: lightcoral;
	border: 2px solid lightcoral;
	color: whitesmoke;
}

@media screen and (max-width: 1160px) {
	.tagline {
		font-size: 1.7rem;
	}
	.about-content-container {
		width: 75%;
	}
}

@media screen and (max-width: 620px) {
	.about-buttons-container {
		width: 60%;
		flex-direction: column;
	}

	.about-button {
		width: 100%;
		padding: 10px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 370px) {
	.about-content-container {
		width: 90%;
	}

	.tagline {
		font-size: 1.2rem;
	}

	.description-container {
		font-size: 0.8rem;
	}
}

/*Settings Modal*/

.settings-container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;
	flex-direction: column;
}

.settings-button-style:hover {
	background-color: lightcoral;
	border: 2px solid lightcoral;
	color: whitesmoke;
}
